.testimoniosturismo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px; 
}

.iframe {
    width: 75%;
    height: auto;
}